/**
 * 用于覆盖 iview 默认样式
 * 直接覆盖在下方即可
 */

@import "./iview/index";
@import "./theme";

.ivu-poptip {
  &-body {
    padding: 0;
  }
  &-rel {
    width: 100%;
  }
}

.ivu-modal {
  top: 0;
  max-height: 100%;
  max-width: 100%;

  &-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-confirm {
    &-head {
      margin: 12px 0 24px;
      text-align: center;

      &-icon {
        display: none;
      }
    }
  }
}
