/**
 * 用于重置元素的基础样式 优先级低
 */
@import './theme';

body {
  background-color: @background-color-base;
  font-size: @font-size-base;
}

a:visited {
  color: @primary-color;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

button,
input,
textarea {
  &:focus {
    outline-width: 1px;
    outline-offset: -2px;
    outline-color: @disabled-color;
  }
}

hr {
  flex: none;
  height: 1px;
  margin: 24px 0;
  border: none;
  background-color: @border-color-base;
}
