/**
 * 用于重置元素的基础样式 优先级低
 */
@import './theme';

body {
  background-color: @background-color-base;
  font-size: @font-size-base;
}

a:visited {
  color: unset;
}
a:hover {
  color: @primary-color;
}

i {
  font-style: normal;
}

ul {
  list-style: none;

  hr {
    margin: 0;
  }
}

button {
  cursor: pointer;
}

button,
input,
textarea {
  &:focus {
    outline-width: 1px;
    outline-offset: -2px;
    outline-color: @disabled-color;
  }
}

hr {
  flex: none;
  height: 1px;
  margin: 24px 0;
  border: none;
  background-color: @border-color-base;
}

h1, h2, h3, h4, h5, h6,
p {
  word-wrap: break-word;
  word-break: break-all;
}

address {
  font-style: normal;
}
