/**
 * 针对 ThinkSNS+ 特定的样式
 * 通用的业务逻辑请在这里修改
 */

@import './theme';
@import './mixins';

.primary-color,
a.link-at-user {
  color: @primary-color;
}

.disabled-color {
  color: @disabled-color;
}

.pointer {
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: @screen-lg;
  min-width: @screen-md;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.icon {
  width: 1.5em;
  height: 1.5em;
  vertical-align: -0.4em;
  fill: currentColor;
  overflow: hidden;

  &.lg {
    width: 2em;
    height: 2em;
    vertical-align: -0.3em;
  }

  &.xl {
    width: 3em;
    height: 3em;
    vertical-align: -0.45em;
  }

  &.sm {
    width: 1.25em;
    height: 1.25em;
    vertical-align: -0.275em;
  }

  &.xs {
    width: 0.75em;
    height: 0.75em;
    vertical-align: -0.2em;
  }
}

.text-pre {
  white-space: pre-wrap;
}

.text-cut {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-cut-generator(4); /* .text-cut-2, .text-cut-3, .text-cut-4 */

// empty directive
.v-empty {
  &-content,
  &-search {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 500px;
    color: @primary-color;
    font-weight: bold;
  }

  &-content::before {
    content: url(~assets/images/pic_default_people.png);
  }
  &-search::before {
    content: url(~assets/images/pic_default_content.png);
  }
}

ul.options {
  padding: 8px;

  > li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px;
    cursor: pointer;
    transition: color .4s;

    .icon {
      margin-right: 0.5em;
    }

    &:hover,
    &.active {
      color: @primary-color;
    }
  }
}


.ts-btn {
  flex: none;
  background-color: #fff;
  color: @primary-color;
  border: 1px solid @primary-color;
  border-radius: 100px;
  transition-property: color, border;
  transition-duration: .2s;

  &.disabled,
  &:disabled {
    color: @disabled-color;
    border: 1px solid @border-color-base;
  }

  &.sm {
    font-size: @font-size-small;
    padding: 1px 1em;
  }
}

.markdown-body {
  color: @text-color;
  font-size: @font-size-base;
}

i.badge {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border-radius: 10px;
  border: 1px solid #fff;
  background-color: @error-color;
  color: #fff;
  font-size: @font-size-small * .8;
}
